#header_article {
	min-width:12rem;
	/*padding: 1rem;*/
}

#snippets{
	display:grid;
	grid-template-columns: auto;
	width:100%;
	margin:0;
	padding:0;
	min-height:20rem;
}

#snippets p{
	border: 2px solid;
	border-color: #555555;
	padding: 1em;
}

#map{
	width:90%;height:auto;
  	min-height: 50vh;
  	padding-top: 1px;
}

main>div{
	width:100%;
}
.section_item {
  background-color: #bfc4c8;;
  border: 1px solid #fff;
  font-size: 30px;
  text-align: center;
  padding: 1rem;
  /*width: 95%;*/
}

button{
	width: 10rem;
	height: 3rem;
	/*padding-left: 1rem;*/
}

#geoloc{
	display:table;
	margin:auto;
}

#p_geoloc, #geoloc button{
	display:table-cell;
	margin:auto;
}

@media (min-width: 40rem){
	#snippets{
		display:grid;
		grid-template-columns: auto auto;
		min-height: 20rem;
	}
	
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.inputfile + label {

	font-family: Arial, Verdana, sans-serif;

	font-size: 1.3rem;

	border-left-width: 0px;
	border-left-style: solid;
	width: 160px;
	height: 48px;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.6);
	line-height: 230%;

    color: black;
    background-color: #bfc4c8;
    display: inline-block;
}

